<div class ="result-card-container">
    <h2 class ="result-text">Das Wort war:</h2>
    <h3 class ="result-secret-word"><%=word%></h3>
    <div class ="result-btn-container">
        <button class = "result-btn">RESTART</button>
    </div>
 </div>